# AdventOfCode2023
[Advent of Code](https://adventofcode.com/2023/about) is an Advent calendar of small programming puzzles

{% for day in days %}
## [Day {{day[0]}} : {{day[1]}}](https://adventofcode.com/2023/day/{{day[0]|int}})

[problem](https://adventofcode.com/2023/day/{{day[0]|int}}) / [solution](./src/day{{day[0]}}/)

```text
{{day[2]}}```
{% endfor %}